body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}
#game-board{
    background-color: #CCC;
    /* to make a square layout irrespective of window size use vmin*/
    width: 100vmin;
    height: 100vmin;
    display: grid;
    /* To make all rows and columns same width and height */
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}
.snake{
    background-color: hsl(200, 100%, 50%);
    /* To make the border look same irrespective of window size */
    border: .25vmin solid black;
    border-radius: 20px;
}
.food{
    background-color: hsl(0, 80%, 50%);
    border-radius: 20px;
}